@namespace ArenaNovaProject5.Web.Components.Layout

<div class="child-select">
    <label>Child</label>
    <select>
        <option>Jan</option>
        <option>Pieter</option>
        <option>ZTess</option>
    </select>
</div>
