@namespace ArenaNovaProject5.Web.Components.Layout

<div class="child-select">
    <label>Child</label>
    <select>
        <option>Ayşe</option>
        <option>Mehmet</option>
        <option>Zeynep</option>
    </select>
</div>
