@namespace ArenaNovaProject5.Web.Components.Layout

<nav class="nav">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>

    <NavLink class="nav-link" href="counter">
        Counter
    </NavLink>

    <NavLink class="nav-link" href="weather">
        Weather
    </NavLink>

    <NavLink class="nav-link" href="play/demo">
        Play Demo
    </NavLink>

    <NavLink class="nav-link" href="demodashboard">
        Demo Dashboard
    </NavLink>
</nav>
