@using Microsoft.AspNetCore.Components.Authorization

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- ✅ net8: Assets helper yok, normal yollar -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ArenaNovaProject5.Web.styles.css" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
   <CascadingAuthenticationState>
    <Routes />
     </CascadingAuthenticationState>
     
    <script src="_framework/blazor.web.js"></script>

    <script type="module">
        import * as firebaseHelper from './js/firebase-helper.js';
        
        // Expose all Firebase helper functions to window object so Blazor can call them
        window.firebaseSignIn = firebaseHelper.firebaseSignIn;
        window.firebaseSignUp = firebaseHelper.firebaseSignUp;
        window.firebaseSignOut = firebaseHelper.firebaseSignOut;
        window.firebaseSetDocument = firebaseHelper.firebaseSetDocument;
        window.firebaseGetCollection = firebaseHelper.firebaseGetCollection;
        window.getUserData = firebaseHelper.getUserData;
        window.getUserAndChildProgress = firebaseHelper.getUserAndChildProgress;
        window.firebasestoreAddChildAccount = firebaseHelper.firebasestoreAddChildAccount;
        window.firebasestoreUpdateUserData = firebaseHelper.firebasestoreUpdateUserData;
        window.firebasestoreUpdateChildProgress = firebaseHelper.firebasestoreUpdateChildProgress;
        window.firebasestoreDeleteChildAccount = firebaseHelper.firebasestoreDeleteChildAccount;
        window.firebasestoreOnChildAccountsChanged = firebaseHelper.firebasestoreOnChildAccountsChanged;
        window.firebasestoreOnChildProgressChanged = firebaseHelper.firebasestoreOnChildProgressChanged;
        window.firebaseOnAuthStateChanged = firebaseHelper.firebaseOnAuthStateChanged;
        window.countsubcollections = firebaseHelper.countsubcollections;
        window.listSubcollectionNames = firebaseHelper.listSubcollectionNames;
        window.storeuidinlocalstorage = firebaseHelper.storeuidinlocalstorage;
        window.getuidfromlocalstorage = firebaseHelper.getuidfromlocalstorage;
        window.removeuidfromlocalstorage = firebaseHelper.removeuidfromlocalstorage;
        window.clearlocalstorage = firebaseHelper.clearlocalstorage;
        window.storechilduidinlocalstorage = firebaseHelper.storechilduidinlocalstorage;
        window.getchilduidfromlocalstorage = firebaseHelper.getchilduidfromlocalstorage;
        window.removechilduidfromlocalstorage = firebaseHelper.removechilduidfromlocalstorage;
        window.querySnapshot = firebaseHelper.querySnapshot;
        window.getSubcollection = firebaseHelper.getSubcollection;
        window.getCurrentUid = firebaseHelper.getCurrentUid;
        window.firebaseGetDocument = firebaseHelper.firebaseGetDocument;
        window.firebaseGetSubcollection = firebaseHelper.firebaseGetSubcollection;
    </script>

    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>
